@import url("http://fonts.cdnfonts.com/css/terminator-real-nfi-2");
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");
:root,
body {
  margin: 0px;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  margin-top: -95px;
  overflow: hidden;
}

div:before, div::after, span:before, span:after {
  content: "";
  position: absolute;
}

div:before, div::after {
  left: 0;
  right: 0;
  margin: auto;
}

div {
  position: relative;
  background: repeating-linear-gradient(#f00 0 1%, transparent 1% 2%);
  -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  width: 50vmin;
  height: 50vmin;
  min-width: 250px;
  min-height: 250px;
}

div:before {
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: solid #000 22px;
  -webkit-transition: border 100ms ease;
  transition: border 100ms ease;
  bottom: 21%;
  width: 15vmin;
  height: 15vmin;
  min-width: 50px;
  min-height: 50px;
}

div::after {
  background: #000;
  bottom: 0;
  width: 22px;
  height: 16%;
  -webkit-transition: width 100ms ease;
  transition: width 100ms ease;
}

h1, h2 {
  margin: 0px;
  color: #fff;
  text-align: center;
}

h1 {
  min-width: 250px;
  font-size: 7.3vh;
  margin-top: 5px;
  font-family: "Terminator Real NFI", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2.15vh;
  font-family: "Andika", sans-serif;
}

span:before, span:after {
  background: #000;
  top: -3px;
  height: calc(100% + 3px);
}

span {
  position: relative;
  font-family: "Terminator Real NFI", sans-serif;
  font-size: 1.45vh;
  margin: 10px 0px;
  color: #fff;
}

span:before {
  left: -20%;
  width: 120%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: left-clip 3s linear both infinite;
          animation: left-clip 3s linear both infinite;
}

span:after {
  left: 0%;
  width: 120%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: right-clip 3s linear both infinite;
          animation: right-clip 3s linear both infinite;
}

@-webkit-keyframes left-clip {
  from {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes left-clip {
  from {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes right-clip {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
}

@keyframes right-clip {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
}

@media only screen and (max-height: 490px) {
  div:before {
    border: solid #000 18px;
  }
  div::after {
    width: 18px;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 0.65rem;
  }
  span {
    font-size: 0.45rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.25rem !important;
  }
  h2 {
    font-size: 0.575rem !important;
  }
  span {
    font-size: 0.45rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 2vw;
  }
  span {
    font-size: 1.5vw;
  }
}
/*# sourceMappingURL=index.css.map */