@import url("http://fonts.cdnfonts.com/css/terminator-real-nfi-2");
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

:root,
body {
  margin: 0px;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
}

%pseudo {
  content: "";
  position: absolute;
}

%split {
  @extend %pseudo;
  left: 0;
  right: 0;
  margin: auto;
}

$split-width: 22;
$split-center: 21;

div {
  position: relative;
  background: repeating-linear-gradient(#f00 0 1%, transparent 1% 2%);
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  width: 50vmin;
  height: 50vmin;
  min-width: 250px;
  min-height: 250px;

  &:before {
    @extend %split;
    background: transparent;
    transform: rotate(45deg);
    border: solid #000 #{$split-width}px;
    transition: border 100ms ease;
    bottom: #{$split-center * 1%};
    width: 15vmin;
    height: 15vmin;
    min-width: 50px;
    min-height: 50px;
  }
  &::after {
    @extend %split;
    background: #000;
    bottom: 0;
    width: #{$split-width}px;
    height: #{$split-center - 5%};
    transition: width 100ms ease;
  }
}

%heading {
  margin: 0px;
  color: #fff;
  text-align: center;
}

h1 {
  @extend %heading;
  min-width: 250px;
  font-size: 7.3vh;
  font-family: "Terminator Real NFI", sans-serif;
}

h2 {
  @extend %heading;
  font-weight: bold;
  font-size: 1.9vh;
  font-family: "Andika", sans-serif;
}

%clip {
  @extend %pseudo;
  background: #000;
  top: 0;
  height: 100%;
}

$space: 0.2;

span {
  position: relative;
  font-family: "Terminator Real NFI", sans-serif;
  font-size: 1.45vh;
  margin: 20px;
  color: #fff;
  &:before {
    @extend %clip;
    left: percentage(-$space);
    width: percentage($space + 1);
    transform-origin: left;
    animation: left-clip 3s linear both infinite;
  }
  &:after {
    @extend %clip;
    left: 0%;
    width: percentage($space + 1);
    transform-origin: right;
    animation: right-clip 3s linear both infinite;
  }

  @keyframes left-clip {
    from {
      transform: scale3d(0, 1, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes right-clip {
    from {
      transform: scale3d(1, 1, 1);
    }
    to {
      transform: scale3d(0, 1, 1);
    }
  }
}

@media only screen and (max-height: 490px) {
  $split-width: 18;
  div {
    &:before {
      border: solid #000 #{$split-width}px;
    }
    &::after {
      width: #{$split-width}px;
    }
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 0.575rem;
  }
  span {
    font-size: 0.45rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.25rem !important;
  }
  h2 {
    font-size: 0.575rem !important;
  }
  span {
    font-size: 0.45rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 2vw;
  }
  span {
    font-size: 1.5vw;
  }
}
